In [7]:
# EDA steps
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\qasim\miniconda3\envs\awfera\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\qasim\miniconda3\envs\awfera\lib\site-packages (from openpyxl) (2.0.0)

In [12]:
# load the dataset 10pC.xlsx
df = pd.read_excel('10pC.xlsx')
# Display the first few rows of the dataset
print(df.head())

   SR                 SCHOOL_NAME STUDENT_NAME      FATHER_NAME       CELL_NO  \
0   1  Skyway Model School Kunjah        Arman              NaN   348 4238084
1   2  Skyway Model School Kunjah       Abeera          M.ilyas   345 4721339
2   3  Skyway Model School Kunjah         Umar         M.Arshad           NaN
3   4  Skyway Model School Kunjah   Hassan Ali  Ahtisham Ramzan           NaN
4   5  Skyway Model School Kunjah  Abduljaleel        Sher khan           NaN

  REASON
0   poor
1   poor
2   poor
3   poor
4   poor

In [13]:
df.isnull().sum()

SR               0
SCHOOL_NAME      0
STUDENT_NAME     0
FATHER_NAME      5
CELL_NO         28
REASON           1
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SR            359 non-null    int64
 1   SCHOOL_NAME   345 non-null    object
 2   STUDENT_NAME  345 non-null    object
 3   FATHER_NAME   340 non-null    object
 4   CELL_NO       317 non-null    object
 5   REASON        344 non-null    object
dtypes: int64(1), object(5)
memory usage: 17.0+ KB

In [14]:
#fill missing values with mode
df.fillna(df.mode().iloc[0], inplace=True)

In [15]:
df.isnull().sum()

SR              0
SCHOOL_NAME     0
STUDENT_NAME    0
FATHER_NAME     0
CELL_NO         0
REASON          0
dtype: int64

In [16]:
# save the cleaned dataset to a new Excel file
df.to_excel('cleaned_10pC.xlsx', index=False)